{% extends "inventory/collection/base.html" %}
{% load staticfiles %}
{% load inventory_extras %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'inventory/css/alignment.css' %}"/>
{% endblock %}

{% block collection_header %}
{% with "alignment" as current %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block collection_content %}

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="{% if records == None %}active{% endif %}">
    <a href="#parameters" aria-controls="home" role="tab" data-toggle="tab">Parameters</a>
  </li>
  <li role="presentation" class="{% if records == None %}disabled{% else %}active{% endif %}">
    <a href="#records" aria-controls="profile" role="tab" {% if not records == None %}data-toggle="tab"{% endif %}>Results</a>
  </li>
</ul>

<form action="{% url 'inventory:collection:alignment' mission=collection.mission file_type=collection.file_type %}" method="post" class="form-horizontal">
  {% csrf_token %}

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane {% if records == None %}active{% endif %}" id="parameters">
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Perform Alignment Check</button>
        </div>
      </div>
      {% render_form pagination_form %}
      {% render_form alignment_form %}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Perform Alignment Check</button>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane {% if not records == None %}active{% endif %}" id="records">
    {% if not records %}
      No missalignments were detected.
    {% else %}
      <p>Search hit {{ records.paginator.count }} records, showing {{ records|length }}.</p>
      <table class="table table-striped table-condensed table-hover table-header-rotated">
        <colgroup>
          <col style="width: auto;">
        {% for location in locations %}
          <col style="width: 50px">
        {% endfor %}
          <col style="width: 150px">
        </colgroup>
        <thead>
          <tr>
            <th>Filename</th>
          {% for location in locations %}
            <th class="rotate"><div><span><small>{{ location }}</small></span></div></th>
          {% endfor %}
            <th style="text-align: right">Annotations</th>
          </tr>
        </thead>
        <tbody>

        {% for record in records %}
          <tr>
            <th>
              <a href="{% url 'inventory:collection:record' mission=collection.mission file_type=collection.file_type filename=record.filename%}">{{ record.filename }}</a></th>
            {% for checksum, exists in record.incidences %}
              <td class="mark-inside">
              {% if exists %}
                {% if record.checksum_mismatch and checksum != None %}
                  <span class="glyphicon glyphicon-exclamation-sign warning" aria-hidden="true"></span>
                {% elif checksum == None %}
                  <span class="glyphicon glyphicon-question-sign info" aria-hidden="true"></span>
                {% else %}
                  <span class="glyphicon glyphicon-ok ok" aria-hidden="true"></span>
                {% endif %}
              {% else %}
                <span class="glyphicon glyphicon-remove missing" aria-hidden="true"></span>
              {% endif %}
              </td>
            {% endfor %}
            <td>
            {% if record.annotation_count > 0 %}
              <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-title="Annotations" data-content="{{ record.annotations|join:"<div class='divider'/>" }}">{{ record.annotations|join:' | ' }}</a>
            {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% render_pagination records %}
    {% endif %}
    </div>
  </div>
</form>

<script>
  var hypothenuse = Math.max.apply(Math, $('.table-header-rotated th.rotate span').map(function() {
    return this.offsetWidth;
  }));
  var angle = 60 * (Math.PI / 180);
  var height = Math.sin(angle) * hypothenuse;
  var width = Math.cos(angle) * hypothenuse;

  $('.table-header-rotated th.rotate').each(function() {
    $(this).css('height', height + 10 + 'px');
  });

  if (width > 150) {
    $('colgroup col:last').css('width', width + 'px')
  }

</script>

{% endblock %}


{% block collection_footer %}
{% with "alignment" as current %}
{{ block.super }}
{% endwith %}
{% endblock %}