{% extends "inventory/collection/base.html" %}
{% load staticfiles %}
{% load inventory_extras %}

{% block head %}
{{ block.super }}
{% endblock %}


{% block collection_header %}
{% with "configuration" as current %}
{{ block.super }}
{% endwith %}
{% endblock %}


{% block collection_content %}

<form action="{% url 'inventory:collection:configuration' mission=collection.mission file_type=collection.file_type %}" method="post" class="form-horizontal">
  {% csrf_token %}

  <h2>Configuration</h2>
  {% render_form configuration_form %}



  {% for url, mapping_formset in mapping_formsets %}

    {{ mapping_formset.management_form }}

    <div class="panel panel-default">
      <div class="panel-heading">
        {% if not url %}
        Default Harvesting Metadata mapping
        {% else %}
        Harvesting Metadata mapping for <b>{{ url }}</b>
        {% endif %}
      </div>
    
      <div class="panel-body">
        <table class="table">
          <thead>
          {% for form in mapping_formset.forms %}
            {% if forloop.first %}
              {% for field in form %}
                <th>{{ field.label_tag }}</th>
              {% endfor %}
            {% endif %}
          </thead>
          <tbody>
            <tr>
              {% for field in form %}
                <td>{{ field }}{% for error in field.errors %}
                  <span class="help-block col-xs-offset-2">{{ error }}</span>
                {% endfor %}</td>
              {% endfor %}
            </tr>
          {% endfor %}
          <tr class="insert-row-before">
            <td><a href="#" class="add-another-mapping">Add another mapping</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script type="text/template" id="row-template-{{ forloop.counter0 }}">
      <tr>
      {% for field in mapping_formset.empty_form %}
        <td>{{ field }}</td>
      {% endfor %}
      </tr>
    </script>


      <script>
        $(function() {
          $("table:eq({{ forloop.counter0 }}) .add-another-mapping").click(function(event) {
            event.preventDefault();
            $(
              $("#row-template-{{ forloop.counter0 }}")
                .html()
                .replace(/__prefix__/g, $("table:eq({{ forloop.counter0 }}) tr").length - 1)
            ).insertBefore("table:eq({{ forloop.counter0 }}) .insert-row-before");
            $("#id_{{ mapping_formset.prefix }}-TOTAL_FORMS").val(parseInt($("#id_{{ mapping_formset.prefix }}-TOTAL_FORMS").val()) + 1);
          });
        });
      </script>

  {% endfor %}

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Save</button>
    </div>
  </div>
</form>

{% endblock %}

{% block collection_footer %}
{% with "configuration" as current %}
{{ block.super }}
{% endwith %}
{% endblock %}