{% extends "inventory/collection/base.html" %}
{% load staticfiles %}
{% load inventory_extras %}

{% block head %}
{{ block.super }}
{% endblock %}


{% block collection_header %}
{% with "configuration" as current %}
{{ block.super }}
{% endwith %}
{% endblock %}


{% block collection_content %}

<form action="{% url 'inventory:collection:configuration' mission=collection.mission file_type=collection.file_type %}" method="post" class="form-horizontal">
  {% csrf_token %}
  {% render_form configuration_form %}

  {{ mapping_formset.management_form }}

  <table class="table">
    <thead>
    {% for form in mapping_formset.forms %}
      {% if forloop.first %}
        {% for field in form %}
          <th>{{ field.label_tag }}</th>
        {% endfor %}
      {% endif %}
    </thead>
    <tbody>
      <tr>
        {% for field in form %}
          <td>{{ field }}{% for error in field.errors %}
            <span class="help-block col-xs-offset-2">{{ error }}</span>
          {% endfor %}</td>
        {% endfor %}
      </tr>
    {% endfor %}
    <tr id="insert-row-before">
      <td><a href="#" id="add-another-mapping">Add another mapping</a></td>
    </tr>
    </tbody>
  </table>

  <script type="text/template" id="row-template">
  <tr>
  {% for field in mapping_formset.empty_form %}
    <td>{{ field }}</td>
  {% endfor %}
  </tr>
  </script>

  <script>
  $(function() {
    $("#add-another-mapping").click(function() {
      $($("#row-template").html().replace(/__prefix__/g, $("tbody tr").length - 1)).insertBefore("#insert-row-before");
      $("#id_form-TOTAL_FORMS").val(parseInt($("#id_form-TOTAL_FORMS").val()) + 1);
    });
  });
  </script>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Save</button>
    </div>
  </div>
</form>

{% endblock %}

{% block collection_footer %}
{% with "configuration" as current %}
{{ block.super }}
{% endwith %}
{% endblock %}