{% extends "minv/base.html" %}

{% block head %}
{{ block.super }}
{{ search_form.media }}
{% endblock %}

{% block navbar %}
{% with "collections" as current %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}

<h1>Collection List</h1>

<ul>
{% for collection in collections %}
    <li><a href="{% url 'inventory:collection:detail' mission=collection.mission file_type=collection.file_type %}">{{ collection.mission }}/{{ collection.file_type }}</a></li>
{% endfor %}
</ul>

<ol class="breadcrumb">
  <li><a href="{% url 'root' %}">Home</a></li>
  <li class="active">Collections</li>
</ol>

{% endblock %}