{% extends "inventory/collection/base.html" %}
{% load staticfiles %}
{% load inventory_extras %}

{% block head %}
<script src="{% static 'inventory/js/ol.js' %}"></script>
<link rel="stylesheet" href="{% static 'inventory/css/ol.css' %}">
{{ block.super }}
{% endblock %}


{% block collection_header %}
{% with "search" as current %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block collection_content %}

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="{% if records == None %}active{% endif %}">
    <a href="#parameters" aria-controls="home" role="tab" data-toggle="tab">Parameters</a>
  </li>
  <li role="presentation" class="{% if records == None %}disabled{% else %}active{% endif %}">
    <a href="#results" aria-controls="profile" role="tab" {% if not records == None %}data-toggle="tab"{% endif %}>Results</a>
  </li>
</ul>

<form action="{% url 'inventory:collection:search' mission=collection.mission file_type=collection.file_type %}" method="post" class="form-horizontal">
  {% csrf_token %}

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane {% if records == None %}active{% endif %}" id="parameters">
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Search</button>
        </div>
      </div>
      {% render_form pagination_form %}
      {% render_form search_form %}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Search</button>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane {% if not records == None %}active{% endif %}" id="results">
      {% if not records %}
        The search returned no results.
      {% else %}
        <p>Search hit {{ records.paginator.count }} records, showing {{ records|length }}.</p>
        {% for record in records %}
          {{ record }}
        {% endfor %}
        <nav>
          <ul class="pagination">
            {% if records.number > 2 %}
              <li>
                <a href="#" data-page="1" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            {% endif %}
            {% if records.has_previous %}
              <li><a href="#" data-page="{{ records.previous_page_number }}">{{ records.previous_page_number }}</a></li>
            {% endif %}
            <li class="active"><a href="#">{{ records.number }}<span class="sr-only">(current)</span></a></li>
            {% if records.has_next %}
              <li><a href="#" data-page="{{ records.next_page_number }}">{{ records.next_page_number }}</a></li>
            {% endif %}
            {% if records.has_next and records.next_page_number < records.paginator.num_pages %}
            <li>
              <a href="#" data-page="{{ records.paginator.num_pages }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}
    </div>
  </div>
</form>

{% endblock %}


{% block collection_footer %}
{% with "search" as current %}
{{ block.super }}
{% endwith %}
{% endblock %}