{% extends "inventory/collection_base.html" %}
{% load inventory_extras %}

{% block head %}
{{ block.super }}
{{ search_form.media }}
{% endblock %}


{% block collection_header %}
{% with "export" as current %}
{{ block.super }}
{% endwith %}
{% endblock %}


{% block collection_content %}

<form action="{% url 'inventory:collection-export' mission=collection.mission file_type=collection.file_type %}" method="post" class="form form-horizontal">
  {% csrf_token %}
  {% render_form form %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Export</button>
    </div>
  </div>
</form>

<div class="panel panel-default">
  <div class="panel-heading">Download Export Packages</div>
  <div class="panel-body">
    <ul>
      <li><a href="#">export_20150829.ZIP</a></li>
    </ul>
  </div>
</div>


{% endblock %}

{% block collection_footer %}
{% with "export" as current %}
{{ block.super }}
{% endwith %}
{% endblock %}