<nav>
  <ul class="pagination">
    {% if page.number > 3 %}
      <li>
        <a href="#" data-page="1" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="disabled">
        <a>
          <span aria-hidden="true">...</span>
        </a>
      </li>
    {% endif %}

    {% if page.has_previous and page.previous_page_number|add:"-1" > 0 %}
      <li><a href="#" data-page="{{ page.previous_page_number|add:"-1" }}">{{ page.previous_page_number|add:"-1" }}</a></li>
    {% endif %}

    {% if page.has_previous %}
      <li><a href="#" data-page="{{ page.previous_page_number }}">{{ page.previous_page_number }}</a></li>
    {% endif %}

    <li class="active">
      <a href="#">{{ page.number }}<span class="sr-only">(current)</span></a>
    </li>

    {% if page.has_next %}
      <li>
        <a href="#" data-page="{{ page.next_page_number }}">{{ page.next_page_number }}</a>
      </li>
    {% endif %}

    {% if page.has_next and page.next_page_number < page.paginator.num_pages %}
      <li><a href="#" data-page="{{ page.next_page_number|add:"1" }}">{{ page.next_page_number|add:"1" }}</a></li>
    {% endif %}

    {% if page.has_next and page.next_page_number|add:"1" < page.paginator.num_pages %}
    <li class="disabled">
      <a>
        <span aria-hidden="true">...</span>
      </a>
    </li>
    <li>
      <a href="#" data-page="{{ page.paginator.num_pages }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>